
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
Project1/Project1/108065515_proj1.final
Project1/Project1/108065515_proj1.final
*.sln
*.pdb
*.log
*.tlog
*.vcxproj
*.filters
*.user
*.obj
*.enc
*.recipe
*.idb
*.ilk
*.iml
Project1/Project1/108065515_proj1.final
Project1/Project1/108065515_proj1.final
Project1/Project1/108065515_proj1.pdf
Project1/Project1/108065515_proj1.zip
Project1/Project1/108065515_proj1_first.exe
*.json
*.sqlite
*.exe
*.xml
*.final
*.data
*.path
